<app-navigation-bar></app-navigation-bar>

<div>
  

<div class="/home-page">
  <button (click)="togleModal()"></button>
</div>
<div class="/zodiac">
  <button (click)="togleModal()"></button>
</div>
<div class="/numerology">
  <button (click)="togleModal()"></button>
</div>
<div class="/health">
  <button (click)="togleModal()"></button>
</div>
<div class="/login">
  <button (click)="togleModal()"></button>
</div>

  <router-outlet></router-outlet> <!-- Това ще рендерира компонентите спрямо маршрута -->
</div>



