<img [attr.src]="health1Img"/>
<img [attr.src]="health2Img"/>
<img [attr.src]="health3Img"/>
<img [attr.src]="health4Img"/>
<div id="wrapper">
    <h2>Здраве</h2>
    <h3>За какво се пие витамин B комплекс?
         Витамините от група B участват в 
         множество биохимични процеси, които са 
         от съществено значение за здравето. Те са 
         полезен при нарушения на съня, умора, раздразнителност,
          анемия, симптоми на психично здраве, дерматит и други.Добавките
           с витамин B-комплекс обикновено обединяват всичките
            8 витамина B в едно хапче.</h3>
    <ul></ul>
</div>  
<div id="wrapper">
    <h2>Здраве</h2>
    <h3>Болкоуспокояващите лекарства не са 
        единственият начин за облекчаване на болката.
         Следващия път, когато страдате от зъбобол,
          болки в гърба или друг вид дискомфорт, 
          помислете за използване на естествени природни
           болкоуспокояващи средства като куркума.Много 
           хора разчитат на лекарствата за облекчаване 
           на болки като зъбобол или дискомфорт в 
           , но те могат да крият рискове, свързани 
           със странични ефекти, лекарствени взаимодействия
            и дори възможност за злоупотреба.</h3>
</div>
<div id="wrapper">
    <h2>Здраве</h2>
    <h3>Пушенето сериозно застрашава здравето
         на тийнейджърите, водейки до увреждане
          на белите дробове, намалена физическа 
          издръжливост и висок риск от развиване
           на никотинова зависимост. Откритата 
           комуникация с тях може значително да 
           помогне в превенцията и осъзнаването 
           на тези рискове.</h3>
</div>
<div id="wrapper">
    <h2>Здраве</h2>
    <h3>Сливите се предлагат в различни видове,
         различаващи се по цвят, текстура и вкус.
          Този плод расте на дървета, които започват
           да дават плодове от четири до шест години
            след засаждането.Сините сливи са 
            ароматни плодове, подходящи за 
            консумация самостоятелно или за 
            направа на лакомства.</h3>
</div>
