
<img [attr.src]="zodiacImg"/>
<img [attr.src]="numerologyImg"/>
<img [attr.src]="healthImg"/>

 <div id="wrapper">
   <h2>Зодиите:</h2>
    <h3>Узнайте за зодиака, стихиите, модалностите и опозиционните оси, 
    които определят характера и 
    съдбата на всеки човек.Избирайки вашия знак ще откриете всичко
     в характера на вашия звезден знак – информация, черти, зодии по дати,
      история, митове, любовна съвместимост на зодии – всичко за зодиите.</h3>
     <ul></ul>
</div>  
<div id="wrapper">
    <h2>Нумерология:</h2>
    <h3>Нумерологията не е само теория
         и мистика. Тя може да се определи
          и като практика. Изучаващите я не са
           само любители на окултното и духовното.
            Те са и професионалисти, които днес 
            могат да ви направят професионален анализ 
            на личността, живота и бъдещето според
             вашето индивидуално число.Тя съществува като услуга от древността, 
             но днес почти се приравнява с тази на гадания
             та и астрологичните прогнози.</h3>
        <ul></ul>
    </div>  
    <div id="wrapper">
        <h2>Здраве:</h2>
        <h3>Здравето на един организъм се свързва
             със състоянието на структурата, 
             метаболизма и функциите на отделните
              органи и на целия организъм. Предполага се,
               че при здрав организъм липсват отклонения
                от нормалните параметри на тези показатели.
                 Ето защо, често понятието здраве се 
                 отъждествява с термина „норма“.Човек може 
                 да се научи да е здрав, да пази здравето си
                  и да го подобрява, да има добро качество
                   на живот. </h3>
            <ul></ul>
        </div> 