.nav-bar {
    width: 100%;
    height: 60px;
    padding: 15px;
    background-color: violet;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-btn {
    margin-left: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

.nav-btn:hover {
    background-color: skygreen;
    color: #fff;
}

    