
<img [attr.src]="numImg"/>
<img [attr.src]="num1Img"/>
<img [attr.src]="num2Img"/>
<img [attr.src]="num3Img"/>
<div id="wrapper">
    <h2>Нумерология</h2>
    <h3>Чрез математически преобразувания на деня,
         месеца и годината, в които сме родени можем
          да определим значението на всяка една получена
           вибрация. Разчитайки значението на вибрациите 
           на конкретния човек, можем да кажем, че има
            благоприятни, трудни или индиферентни периоди
             в живота му. Въз основа на деня, месеца и годината,
              на нашето раждане определяме пътя на живота или
               жизненият път на човека и периодите, през които
                преминава неговият живот.</h3>
    <ul></ul>
</div>  
<div id="wrapper">
    <h2>Числото 1</h2>
    <h3>1 е числото на целта, проявяващо се 
        във формата на агресивност и амбиция. 
        То е всичко, започващо с буквата „а“ –
         първата буква на азбуката. ЕДНО е числото 
         на планетата Слънце. То е символ на жизненост
          и сила, благородство и власт, на ярка изява 
          на лич­ността. То разгъва творческите способности
           на човека, помага му да се пребори с редица 
           условности и пречки и да победи.</h3>
    <ul></ul>
</div>  
<div id="wrapper">
    <h2>Числото 2</h2>
    <h3>Това число изисква търпение и въздържание от дейност.
         Доб­ре е в деня на двойката да не плануваме важни неща.
          В такъв ден и в такава година се препоръчва да не се 
          вземат кардинални ре­шения, за да не се разочароваме. 
          Да се пазим от лъжа, фалш и загуба.Хората, 
          родени под знака на Луната,
         се отличават с емоционалност и откритост,
          често са надарени с художествена природа.</h3>
    <ul></ul>
</div> 
<div id="wrapper">
    <h2>Числото 3</h2>
    <h3>Числото 3 означава устойчивост и се
         символизира чрез триъ­гълник, представящ миналото,
          настоящето и бъдещето. Числото обединява таланта
           и веселието, символизира възможността за приспособяване.

        3 се характеризира със сила, настъпателност, 
        действеност, ор­ганизираност, решително преодоляване
         на трудностите, работос­пособност. В ден, месец или година
         , тройката може смело да се пребори с всякакви пречки и да победи.
        Това е числото на делови и съобразителни хора,
         отлични ор­ганизатори и ръководители, смели и
          самоотвержени. За тях не съществува работа,
           която не биха могли да извършат.</h3>
    <ul></ul>
</div> 