/* You can add global styles to this file, and also import other style files */
body,
html,
* {
    margin: 0;
    padding: 0;

}


div {
    color:rgb(59, 10, 91);
}

h1 {
    font-size: 30px;
}
app-navigation-bar {
    font-size: 25px;
}
app-login {
    font-size: 25px;
    
}
