<img [attr.src]="zod1Img"/>
<img [attr.src]="zod2Img"/>
<img [attr.src]="zod3Img"/>
<img [attr.src]="zod4Img"/>


<div id="wrapper">
    <h2>Овен</h2>
    <h3>Зодиакалният знак Овен е първото съзвездие
         от зодиакалния астрологичен кръг. 
         Представителите на този знак могат да бъдат
          характеризирани накратко с епитета - човек-огън.
           Те са проактивни, целеустремени, активни и се 
           стремят да бъдат пионери. Ентусиазмът им ги 
           тласка да си поставят нови задачи. За Овена обаче е 
           много по-важно да заразите другите с идеите си, отколкото
            да доведете идеята до края. Недостатъците на темпераментните
             представители на тази зодия включват раздразнителност, 
             инконтиненция, известна доза неткост, причинена от прямота.</h3>
    <ul> </ul>
</div>  
<div id="wrapper">
    <h2>Телец</h2>
    <h3>Зодия Телец е известна със 
        своята повишена сетивност и 
        способност да се наслаждава на
         земните удоволствия. Хората, родени под 
         този знак, често са инатливи и твърдоглави,
          но същевременно са търпеливи и надеждни. 
          Телците са трудолюбиви и организирани, което 
          ги прави чудесни служители и партньори.Хората, 
          родени под знака на Телеца, често имат 
          артистични наклонности и се радват на 
          творчески занимания.</h3>
    <ul> </ul>
</div>  
<div id="wrapper">
    <h2>Близнаци</h2>
    <h3>Близнаците са третият знак от зодиака
         и първият въздушен. Те са и мутабилни,
          което придава типичната им гъвкавост,
           адаптивност и променливост. Характерно
            за тях е постоянното движение, бързина
             в мисленето и висока умствена енергия.
              Те са много енергични и изглежда, че
               никога не се спират.Близнаците се
                славят със своята общителност, 
                комуникативност и красноречие. 
                Те са двойствен знак, като могат
                 да разглеждат нещата от различните
                  им гледни точки.</h3>
    <ul> </ul>
</div>
 
<div id="wrapper">
    <h2>Рак</h2>
    <h3>Ракът си е достатъчен сам на себе си.
         Той употребява своя интелект и невероятната 
         си памет, за да се потапя в самосъжаление
          и да си „връща дълговете” помни добрините, 
          но помни и лошото и рано или късно си отмъщава.
           Ракът ползва знанията и опита си като оръжие за атака,
            бори се с въображаеми врагове и живее 
            предимно с миналото си.Раците имат 
            покровителствено отношение към хората. 
            Проявяват съпричастност при поява на проблеми
             и търпение в екстремни моменти.</h3>
    <ul> </ul>
</div>